{% extends "master.twig" %}

{% block content %}

	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card">

				<div class="card-header"><h4>{{ app_name }}</h4></div>

				<div class="card-body">
				
					<h1 class="text-center">Page not found</h1>
					<p><a href="/">Return Home</a>

				</div>

			</div>
		</div>
	</div>

{% endblock %}