<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url() }}">Bootstrap SlimFramework</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check != true %}
                <li><a href="{{ base_url() }}/login">Login</a></li>
                <li><a href="{{ base_url() }}/register">Register</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ base_url() }}/logout">Logout</a></li>
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>